- let dept_list = [''] //, 'AC ENG', 'ARABIC', 'MATH','IN4MATX'];
- let school_list = ['--Select University--', 'UCI'] //!{JSON.stringify(schools)}
mixin select_dept 
    label(for='dept_names') Department Name:
    select#dept_names.form-control(name='dept_names' )
      for dept in dept_list
        option(value=dept) #{dept}

p.input-form-title Select Demographic(s):
label(for='University') University:
select#school-drop-down.form-control(name='school-select')
  for school in school_list
    option(value=school) #{school}
br

div#demographics-div
    form(id='demographics-form' method='POST' action='')
      div#demographics-group.drop-down-selectors
      div#departments-group.drop-down-dept-selectors
      div#divisions-group.drop-down-division-selectors
      br
      button.btn.btn-primary(type='submit') Submit

if errors
  ul
    for error in errors
      li!= error.msg
